/*change the default style of the badge to one that is a lot more subtle this 
chnages all badged in the application*/


/* a hack for now */
#app-temp_daterange{
  margin-right: 10px;
}

/* welcome page */
.welcome-page {
   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;
}

.welcome-banner {
  /* overflow: visible; */
  height: 325px;
}

.welcome-banner > div.welcome-image {
  background: url("Shasta_Dam_Colored.jpg") center no-repeat;
  position: absolute;
  margin-top: -25px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: inherit;
}

@media (max-width: 420) {
  .welcome-banner > div.welcome-image {
    background: none;
}
}

.welcome-banner > div.welcome-heading {
  background-color: rgba(0, 0, 0, 0.3);
  width: 365px;
  padding: 10px 20px 25px 20px;
}

.welcome-banner > div.welcome-heading > h1 {
   color: white;
   margin-bottom: 0px;
   padding-top: 0px
}

.welcome-banner > div.welcome-heading > h4 {
  font-weight: 400;
  color: white;
}

.welcome-about-showr > h3 {
  margin-bottom: 40px;
}

.welcome-page-content {
  width: 60%;
  margin: auto;
}


.home-page-cards {
    margin-top: 10px;
    margin-bottom: 10px;
}

.home-page-summary-content {
    font-size: 17px;
}

.home-page-learn-more {
    font-size: 17px
}

.home-page-summary {
  float: left;
  width: 40%;
  height: 300px;
  color: #ffffff;
  background-color: #436972;
  border-top: 2px solid transparent;
  padding-left: 15px;
  padding-bottom: 35px;
}

.home-page-learn-more {
  float: right;
  width: 55%;
  height: 300px;
  color: #3F3F3F;
  background-color: #ffedcd;
  border-top: 2px solid transparent;
  padding-left: 15px;
  padding-bottom: 35px;
}

.home-page-summary-content {
  width: 90%;
  margin: auto;
}

.home-about {
  float: right;
  width: 55%;
  color: #3F3F3F;
  background-color: #F2F2F2;
  border-top: 2px solid transparent;
}

.home-about > h2 {
  padding-left: 15px;
}

.home-about > p {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.intro-divider {
  height: 6px;
  background: transparent linear-gradient(to right, #3476a8 0%, #d4be85 100%) repeat scroll 0% 0%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.summary-value {
  text-align: right;
  width: 100px;
}

.help-btn {
  background-color: #3e3e3e00;
  border: none;
  color: black;
  padding: 1px 1px 1px 1px;
  font-size: 16px;
  cursor: pointer;
}

.help-btn:hover, .help-btn:active {
  color: #ffffff;
  background-color: #090909;
  border-color: #040404;
  background-color: #3e3e3e00;
  border: none;
  color: #1967be;
  padding: 1px 1px 1px 1px;
  font-size: 16px;
  cursor: pointer;
}

.welcome-footer {
  position:absolute;
  bottom:0;
  width: inherit;
  text-align: center;
}

.welcome-getting-started {
  text-align: center;
}

.welcome-last-year-summary {
  text-align: left;
}


.logo {
  margin-top: -12px;
}

/*default badge*/
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.badge-warning {
  font-weight: normal;
  color: #ffffff;
  background-color: #d37272;

}


.panel-default {
  border-color: #f5f5f5;
}

.panel-default>.panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.global-date-row {
  display: inline-block;
}

/*add padding to list group item in ordert make the panels have more room within*/
.list-group-item {
  position: relative;
  display: block;
  padding: 15px 15px;
  margin-bottom: -1px;
  background-color: transparent;
  border: 0px solid rgba(221, 221, 221, 0);
}

.well {
  border-radius: 10px;
}

/* .date_btn {
margin-top: 16px;
margin-left: 10px;
display: inline-block;
vertical-align: top;
border-radius: 5px;
color: #666;
background-image: none;
background-color: transparent;
border-color: #aaa;
} */

/*.shiny-date-input.form-group.shiny-input-container.shiny-bound-input {
    display: inline-block;
    width: 150px;
}
*/

@media (max-width: 464px) {
  .logo-img {
    display: none;
}
.logo {
    margin-top: 0;
}
.gage_map {
    display: none;
}
}


label {
  font-weight: normal;
}

.gage_map {
  width: 75%;
}


.home-metrics {
  /*border-right: #dddddd .5px solid;*/
  padding-right: 20px;
}

.home-plots {
  padding-left: 20px;
}

/*improve the validation errors that shiny provides */
.shiny-output-error-validation {
  color: #3a3434;
  font-weight: 500;
}

.about {
  max-width: 50%;
  margin: auto;
}

.shiny-output-error-validationno-redds-alert {
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px
  
}

.summary-value {
  padding: 5px;
}

.subpage-buttons {
    width: 127px;
}



.date_jump {
  border-radius: 10px;
}

.dash_help {
      border-radius: 15px;
      color: #ffffff;
    background-color: #7a9ec5;
    border-color: #7a9ec5;
}

.details_button {
color: #ffffff;
    background-color: #79ab69;
    border-color: #79ab69;
    border-radius: 5px;
    margin-right: 9px;
}

.jump_year_button {
color: #ffffff;
    background-color: #694e7c;
    border-color: #694e7c;
    border-radius: 5px;
    width: 250px;
        margin-bottom: 5px;
    /*margin-left: 9px;*/
}

.jump_year_button:hover {
color: #ffffff;
    background-color: #694e7c;
    border-color: #694e7c;
    border-radius: 5px;
    width: 250px;
        margin-bottom: 5px;
    /*margin-left: 9px;*/
}

.jump_year_button:active:hover {
color: #ffffff;
    background-color: #342a3a;
    border-color: #694e7c;
    border-radius: 5px;
    width: 250px;
        margin-bottom: 5px;
    /*margin-left: 9px;*/
}

.jump_year_button:focus {
color: #ffffff;
    background-color: #694e7c;
    border-color: #694e7c;
    border-radius: 5px;
    width: 250px;
        margin-bottom: 5px;
    /*margin-left: 9px;*/
}

#app-global_date > input.form-control.shinyjs-resettable {
  border-radius: 10px;
  font-size: 20px;
}

.jump_year_selector {
  border-radius: 5px;
  background-color: #593b6d;
}


.btn-sm {
  border-radius: 5px;
}

.btn-md {
  border-radius: 5px;
}

.btn-xs {
  border-radius: 5px;
}

.btn {
  border-radius: 5px;
}







