<div class="row">
  <div class="col-sm-12">
    <div class="about">
      <h1>About SHOWR</h1>
      <h3>Project Overview</h3>
      <p>
        The SHO-WR application demonstrates the power of open data paired with open 
        source analytics and visualization tools for California water resources 
        management. The application  has been developed iteratively as part of a 
        demonstration project led by the Sacramento River Settlement Contractors 
        (SRSC). The primary objective of this demonstration project is to integrate 
        diverse flow, water operations, fishery, and water quality data into a 
        single, open data environment that facilitates more data-driven and timely 
        decision making. On the section of the Sacramento River immediately below 
        Lake Shasta, the fishery agencies have targeted water temperature as the 
        most critical resource to successful spawning of winter-run Chinook salmon 
        from late April through September.  This single parameter controls the 
        operation of Shasta Reservoir, SRSC diversions, the Central Valley 
        Project (CVP), other project reservoirs, and the Bay Delta.
      </p>

      <h3>Data on SHOWR</h3>
      <p>
        Most of the data on SHOWR is obtained from CDEC (<a href="https://cdec.water.ca.gov/" target="_blank">
        https://cdec.water.ca.gov/</a>) and is managed using a small PostgreSQL database.
        The reason for this is due to the unreliability of CDEC and demand from the application.
        A direct connection to CDEC would result in excessive downtime and instability, and would severely degrade
        the user experience. 
      </p>
      <h4>Downloading Data</h4>
      <p>
        Users can download data directly from one of the pages by first filtering
        to the desired subset and then downloading. Those who want to go beyond 
        what SHOWR provides for CDEC data can make use of <a href="https://github.com/FlowWest/CDECRetrieve">CDECRetrieve</a>, an R package developed for SHOWR to facilitate data queries
        to CDEC. You can learn more about the package, as well as how to install it
        <a href="https://flowwest.github.io/CDECRetrieve/">here</a>. 
      </p>




      <br/>
      <a href="http://www.flowwest.com/" target="_blank">
        <img src="TransLogoTreb.png" width="150px" style="display:inline-block;"/>
      </a>
      <h6 style="display:inline-block; margin-left:15px;">
        App created and maintained by:
        <a href="mailto:erodriguez@flowwest.com" target="_blank">Emanuel Rodriguez</a>
        and
        <a href="mailto:sgill@flowwest.com" target="_blank">Sadie Gill</a>
      </h6>
      <a href="https://github.com/FlowWest/showr-application" target="_blank" style="margin-left:15px;">
        <img src="GitHub-Mark-32px.png"/>
      </a>
    </div>
  </div>
</div>