<div class="row">
  <div class="col-sm-12 col-md-2">
      {{ date_button }}
  </div>
</div>
<div class="row"> <!-- start main page row -->
  <div class="col-sm-12 col-md-6 home-metrics"> <!-- start left screen col -->
    <div class="row"> <!-- start left col top row -->
      <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Reservoir Operations
              {{help_me_with_storage}}
            </h3>
          </div>
          <ul class="list-group">
            <h5 class="list-group-item" target="_blank" href="https://cdec.water.ca.gov/cgi-progs/staSearch"
            data-toggle="tooltip" title="Storage at Shasta Reservoir in MAF">
              Storage 
              <span class="badge"> 
              {{shasta_storage_val}}</span>
            </h5>
            <h5 class="list-group-item" target="_blank" href="https://cdec.water.ca.gov/cgi-progs/staSearch"
            data-toggle="tooltip" title="The reservoir storage space below the Top of Conservation Pool value may be used for any of the project's non-flood control authorized purposes. Space above the Top of Conservation Pool value is reserved to store flood waters for later release and is monitored (SEC7 projects) or managed (Corps projects) by the Corps">
              Storage Volume Below 50°F
              <span class="badge">{{shasta_cons_curve_val}}</span>
            </h5>
            <h5 class="list-group-item" target="_blank" href="https://cdec.water.ca.gov/cgi-progs/staSearch">
              Water Year Classification  
              <span class="badge">{{water_year_type_val}}</span>
            </h5>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Outflow Temperature
              {{help_me_with_temps}}
            </h3>
          </div>
          <ul class="list-group">
            <h5 class="list-group-item">
                Keswick (KWK)
                <span class="badge">
                    {{mean_daily_temp_kwk}}
                </span>
            </h5>
            <h5 class="list-group-item">
                Clear Creek (CCR)
                <span class="badge">
                    {{mean_daily_temp_ccr}}
                </span>
            </h5>
            <h5 class="list-group-item">
                Ball's Ferry (BSF)
                <span class="badge">
                    {{mean_daily_temp_bsf}}
                </span>
            </h5>
          </ul>
        </div>
      </div>
    </div> <!-- end left col top row -->
    <div class="row"> <!-- start left col bottom row -->
      <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Flow
              {{help_me_with_flows}}
            </h3>
          </div>
          <ul class="list-group">
          <h5 class="list-group-item" target="_blank" href="https://cdec.water.ca.gov/cgi-progs/staSearch">
              Shasta Reservoir (SHA) 
              <span class="badge"> {{mean_daily_flow_sha}}</span>
            </h5>
            <h5 class="list-group-item" target="_blank" href="https://cdec.water.ca.gov/cgi-progs/staSearch">
             Keswick (KWK) 
             <span class="badge">{{mean_daily_flow_kwk}}</span>
           </h5>
           <h5 class="list-group-item" target="_blank" href="https://cdec.water.ca.gov/cgi-progs/staSearch">
            Wilkins Slough (WLK) 
            <span class="badge">{{mean_daily_flow_wlk}}</span>
          </h5>
        </ul>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Chinook Activity
              {{help_me_with_chinook_activity}}
            </h3>
          </div>
          <ul class="list-group">
          <h5 class="list-group-item">
              Primary Life Stage(s) 
              <span class="badge"> {{wr_presence}} </span>
            </h5>
            <h5 class="list-group-item">
             Furthest Redd 
             <span class="badge">{{limiting_reach}}</span>
           </h5>
           <h5 class="list-group-item">
            Estimated Emergence 
            <span class="badge">{{limiting_date}}</span>
          </h5>
        </ul>
      </div>
    </div>
  </div> <!-- end left col bottom row -->
</div> <!-- end left screen col -->
<div class="col-sm-12 col-md-6 home-plots"> <!-- start right screen col -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#1a" data-toggle="tab">Storage</a></li>
    <li><a href="#2a" data-toggle="tab">Chinook</a></li>
  </ul>

  <div class="tab-content clearfix">

    <div class="tab-pane active" id="1a">
      {{ shasta_elevation_plot }}
    </div>
    <div class="tab-pane" id="2a">
        {{chinook_summary_plot}}
    </div>
  </div>
</div> <!-- end right screen col -->
</div> <!-- end main page row -->
<div class="row"> <!-- row for page notes -->
<div class="col-md-12">
    <h6>-Data on this page is a combination of daily and hourly observed values, both of these
    are updated on a daily basis to the application</h6>

</div>
    
</div>

