<!-- Welcome page for the showr application -->

<div class="row">
        <div class="welcome-page">
                <div class="welcome-banner">
                    <div class="welcome-image"></div>
            
                    <div class="welcome-heading">
                        <h2>Weclome to the Showr App</h2>
                    </div>
                </div>
                
            </div>
</div>
<div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 welcome-about-showr">
                <h5 class="about-text">
                        SHO-WR brings real-time and historical data together in a user-designed way to improve decision 
                        making shared between the U.S. Bureau of Reclamation (Reclamation), the National Marine Fisheries 
                        Service (NMFS), the California Department of Fish and Wildlife (CDFW), and the State Water Resources 
                        Control Board (SWRCB). In addition, SHO-WR provides real-time tracking and accounting of operations 
                        based on those decisions, and is compiling a database of historical operations and decision data 
                        that will provide critical information for future decision making. 
                </h5>
            </div>
</div>
