<!-- Welcome page for the showr application -->

<div class="row">
    <div class="welcome-page">
        <div class="welcome-banner">
            <div class="welcome-image"></div>
            
            <div class="welcome-heading">
                <h2>Welcome to Showr</h2>
                <h4><em>The decision support tool for Shasta Reservoir operations for Winter Run Chinook Salmon management</em></h4>
            </div>
        </div>
        
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 welcome-about-showr">
        <h5 class="about-text">
            Showr is a data-driven web application
            designed to help decision makers and interested stakeholders understand and
            engage in the complicated process of managing Shasta Reservoir operations
            to protect Winter Run Chinook Salmon. Development of showr (make this
            consistent with title bar) began in 2017 and has advanced through iterative,
            collaborative effort between fisheries and water management experts involved
            in Winter Run Chinook Salmon management (U.S. Bureau of Reclamation, the
            National Marine Fisheries Service, the California Department of Fish and 
            Wildlife, the State Water Resources Control Board, Sacramento River Settlement 
            Contractors, University of Washington Columbia Basin Research Program) and a 
            team of data scientists and web developers at FlowWest. The design and 
            functionality of Showr was presented at 
            monthly technical committee meetings and then updated based on user feedback 
            between each meeting. Showr is currently 
            maintained by the Sacramento River Settlement Contractors and is integrated with 
            the SacPAS web application and the Reclamation Information Sharing Environment (RISE).  
        </h5>
    </div>
</div>
<!-- start the text below the introduction -->
<div class="row">
    <div class="col-md-5 col-md-offset-1 col-sm-12 col-xs-12 welcome-getting-started">
        <h2>Using Showr</h2>
        <h5>Management of Shasta Reservoir to protect Winter Run Chinook Salmon is driven 
            by the Reasonable and Prudent Actions (RPAs) detailed in the 2009 Biological 
            Opinion on the Long-Term Operations of the Central Valley Project and State Water Project. 
            The Winter Run Chinook Salmon RPAs are primarily focused on cold water management in 
            Shasta Reservoir, temperature thresholds in the Sacramento River downstream of Shasta, 
            and Winter Run Chinook Salmon adult spawning, egg survival, and fry emergence. 
            To address these conditions, Showr provides 
            real-time data on Shasta Reservoir storage and cold water pool conditions, Sacramento 
            River water temperature and flow conditions, and Winter Run Chinook Salmon monitoring. 
            The Showr development team recommends that users 
            start on the Dashboard page for a snapshot summary of existing conditions across all of 
            these aspects of Shasta Management for Winter Run Chinook Salmon, and then proceed to the 
            Temperature, Flow, and Winter Run Chinook pages for a deeper dive into individual management conditions.</h5>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12 welcome-last-year-summary">
        <div style="display: inline-block;">
                <h2 style="display: inline-block;">Shasta Operations Summary for</h2>
                <div class="form-group shiny-input-container" style="display: inline-block;width: 100px;">
                        <div>
                          <select id="fake-so-fake"><option value="2010">2010</option>
                      <option value="2011">2011</option>
                      <option value="2012">2012</option>
                      <option value="2013">2013</option>
                      <option value="2014">2014</option>
                      <option value="2015">2015</option>
                      <option value="2016">2016</option>
                      <option value="2017" selected>2017</option></select>
                          <script type="application/json" data-for="fake-so-fake" data-nonempty="">{}</script>
                        </div>
                      </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"><span class="badge">Wet</span><h5>Water Year Type</h5></li>
                    <li class="list-group-item"><span class="badge">122</span><h5>Flood Release Days</h5></li>
                    <li class="list-group-item"><span class="badge">621 taf</span><h5>End of September Storage Below 50F</h5></li>
                    <li class="list-group-item"><span class="badge">26</span><h5>Total Winter Run Redds</h5></li>
                    <li class="list-group-item"><span class="badge">6</span><h5>Days Above 56F at Balls Ferry</h5></li>
                    <li class="list-group-item"><span class="badge">6</span><h5>Redds Exposed to >56F</h5></li>
                    <!-- <li class="list-group-item"><span class="badge">0</span><h5>Fry Exposed to >56F</h5></li> -->

                </ul>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-md-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>Source Code</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>CDECRetrieve</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>Showr Database</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
  </div> -->

<!-- <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 welcome-footer">
        <a href="http://www.flowwest.com/" target="_blank">
            <img src="TransLogoTreb.png" width="150px" style="display:inline-block;"/>
        </a>
        <h6 style="display:inline-block; margin-left:15px;">
            App created and maintained by:
            <a href="mailto:erodriguez@flowwest.com" target="_blank">Emanuel Rodriguez</a>
        </h6>
        <a href="https://github.com/FlowWest/showr-application" target="_blank" style="margin-left:15px;">
            <img src="GitHub-Mark-32px.png"/>
        </a>
    </div>
</div> -->
