<div class="row">
  <div class="welcome-page">
    <div class="welcome-banner">
      <div class="welcome-image"></div>

      <div class="welcome-heading">
        <h1>Welcome to SHOWR</h1>
      </div>
    </div>

  </div>
</div>

<div class="welcome-page-content">
  <h3 class="about-text">
    SHOWR is designed to help decision makers and interested stakeholders understand and engage in the complicated process of managing Shasta Reservoir operations to protect Winter Run Chinook Salmon.

  </h3>
  <div class="intro-divider"></div>
  <!-- start the text below the introduction -->
  <div class="home-page-cards">
    <div class="home-page-summary">
      <div class="home-page-summary-content">
        <div><h2>Shasta Operations Overview</h2> {{ select_year_dropdown }}</div> 

        <table>
          <tr>
            <td>Water Year Type</td>
            <td class="summary-value">{{summary_water_year_type}}</td>
          </tr>
          <tr>
            <td>Total Winter Redds</td>
            <td class="summary-value">{{summary_total_winter_redds}}</td>
          </tr>
          <tr>
            <td>End of September Storage</td>
            <td class="summary-value">{{summary_eos}}</td>
          </tr>
          <tr>
            <td>No. Days Out of Compliance</td>
            <td class="summary-value">{{summary_out_of_compliance}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="home-page-learn-more">
      <div><h2>Learn More</h2></div>
      <ul style="list-style-type: none; padding: 5px;">
        <li style="padding-top: 5px;">{{action_link_to_about_page}}</li>
        <li style="padding-top: 5px;"><a href="http://www.westcoast.fisheries.noaa.gov/central_valley/water_operations/srttg2018.html" target="_blank">Learn more about Sacramento River temperature management</a></li>
        <li style="padding-top: 5px;"><a href="https://cdec.water.ca.gov" target="_blank">Learn More about CDEC data</a></li>
      </ul>
    </div>
  </div>
  
</div>

<!-- By Apaliwal [<a href="https://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>], <a href="https://commons.wikimedia.org/wiki/File:Shasta_Dam_Colored.jpg">from Wikimedia Commons</a> -->